WorkflowGoldenHour.json
{
  "name": "Golden Hour AI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "golden-hour-ai",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -272,
        80
      ],
      "id": "f55e65d6-ec1c-4062-80f5-a2329536a42c",
      "name": "Webhook",
      "webhookId": "c7a8f62f-d413-447d-b26b-6ab924c4f6db"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "name",
              "value": "={{ $json.body.user.name }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.body.user.phone }}"
            },
            {
              "name": "incident",
              "value": "={{ $json.body.incident }}"
            },
            {
              "name": "location",
              "value": "={{ $json.body.location }}"
            },
            {
              "name": "bloodGroup",
              "value": "={{ $json.body.user.bloodGroup }}"
            },
            {
              "name": "emergencyContact",
              "value": "={{ $json.body.user.emergencyContact }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.body.timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7edb63f1-fa4d-4f21-98f3-897f60b9d0a5",
      "name": "Prepare Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -128,
        176
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an emergency triage doctor AI.\n\nClassify emergency level:\n1 = Mild\n2 = Urgent\n3 = Critical (Ambulance needed)\n\nReturn ONLY valid JSON:\n{\n \"triage_level\":\"\",\n \"ambulance_required\":\"\",\n \"reason\":\"\"\n}\nambulance_required must be YES or NO."
            },
            {
              "content": "=Patient symptoms: {{ $json.incident }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "6988be18-4cda-4167-8aca-384cd048fc64",
      "name": "Triage AI",
      "credentials": {
        "openAiApi": {
          "id": "FhAZDcTL84tmhLaJ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a paramedic AI.\nProvide step-by-step first aid instructions.\nMax 8 steps.\nUse simple language."
            },
            {
              "content": "=Symptoms: {{ $('Prepare Input').item.json.incident }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        368,
        16
      ],
      "id": "08ed4f4f-f3f1-4a18-84e5-b3393f9a1da1",
      "name": "First Aid AI",
      "credentials": {
        "openAiApi": {
          "id": "FhAZDcTL84tmhLaJ",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "159bsWWUVk3uHgQWfJpukaTm1L-dL_HX2vSgGgqkwzns"
        },
        "sheetName": {
          "__rl": true,
          "value": 653497712,
          "mode": "list",
          "cachedResultName": "EmergencyLogs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/159bsWWUVk3uHgQWfJpukaTm1L-dL_HX2vSgGgqkwzns/edit#gid=653497712"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Triage AI Response": "={{ $('Parse Triage JSON').item.json.reason }}",
            "Incident": "={{ $('Prepare Input').item.json.incident }}",
            "Location": "={{ $('Prepare Input').item.json.location }}",
            "Emergency Contact": "={{ $('Prepare Input').item.json.emergencyContact }}",
            "Blood Group": "={{ $('Prepare Input').item.json.bloodGroup }}",
            "User Name ": "={{ $('Prepare Input').item.json.name }}",
            "Mobile No": "={{ $('Prepare Input').item.json.phone }}",
            " Timestamp ": "={{ $('Prepare Input').item.json.timestamp }}",
            "First Aid AI Actions ": "={{ $json.output[0].content[0].text }}",
            "Status ": "={{ $json.output[0].status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": " Timestamp ",
              "displayName": " Timestamp ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "User Name ",
              "displayName": "User Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mobile No",
              "displayName": "Mobile No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Blood Group",
              "displayName": "Blood Group",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Emergency Contact",
              "displayName": "Emergency Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Incident",
              "displayName": "Incident",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Triage AI Response",
              "displayName": "Triage AI Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First Aid AI Actions ",
              "displayName": "First Aid AI Actions ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status ",
              "displayName": "Status ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        144
      ],
      "id": "bca4cc15-0279-4ea7-851b-c60ff57036f8",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JDabam6atznS3rtj",
          "name": "Google Study Bhup API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"triage_level\": \"{{$node['Parse Triage JSON'].json['triage_level']}}\",\n  \"ambulance_required\": \"{{$node['Parse Triage JSON'].json['ambulance_required']}}\",\n  \"reason\": {{ JSON.stringify($('Parse Triage JSON').item.json.reason) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        784,
        48
      ],
      "id": "9feb64a2-efb3-4a07-bf00-3925bed5ce0e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const txt = $input.first().json.output[0].content[0].text\nreturn [{ json: JSON.parse(txt) }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        128
      ],
      "id": "0bea81fa-ce16-4751-8564-7eaa417479e5",
      "name": "Parse Triage JSON"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Triage AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Triage AI": {
      "main": [
        [
          {
            "node": "Parse Triage JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First Aid AI": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Triage JSON": {
      "main": [
        [
          {
            "node": "First Aid AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7b3f51b5-5bf5-4cde-9886-8d901347869e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "230c96cc3511996bff6c9a658f78080280f08713dcf7291aecb6ea4f64d3df04"
  },
  "id": "aZFrpQXcP3ZemDGZ",
  "tags": []
}
